<x-main>
  <table class="mx-auto font-primary align-center-table">
    <tr>
      <td class="w-[600px] sm:w-full bg-white align-center-table max-w-[600px]">
        <table class="w-full">
          <tr>
            <td><x-sections.section-01 /></td>
            <!-- Section 01 -->
          </tr>
          <tr>
            <td><x-sections.section-02 /></td>
            <!-- Section 02 -->
          </tr>
          <tr>
            <td><x-sections.section-03 /></td>
            <!-- Section 03 -->
          </tr>
          <tr>
            <td><x-sections.section-04 /></td>
            <!-- Section 04 -->
          </tr>
        </table>
      </td>
    </tr>
  </table>
</x-main>
